@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 100;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Thin.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 200;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Light.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Light.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 300;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Light.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Light.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 400;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Regular.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 500;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Medium.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 600;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-SemiBold.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 700;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Bold.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 800;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-ExtraBold.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "THICCBOI";
  font-style: normal;
  font-weight: 900;
  src: local("THICCBOI"), url("../fonts/thicccboi/THICCCBOI-Black.woff2") format("woff2"),
    url("../fonts/thicccboi/THICCCBOI-Black.ttf") format("ttf");
}
