body {
  font-family: "THICCCBOI", "Times New Roman", "Georgia", "Verdena", serif;
  font-size: 16px;
  background: #181818;
}
a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, button {
  &:hover {
  cursor: pointer;
  }
}

.container {
max-width: 1440px;
margin: 0 auto;
padding: 0 16px;

@media (min-width: 768px) {
  padding: 0 50px;
}

@media (min-width: 1024px) {
padding: 0 86px;
 }
}